.card {
  position: relative;
}
.card-line {
  height: 400px;
  border-bottom: 1px solid #c8c8c8;
  /* background-color: pink; */
  display: flex;
}
.card .poster {
  left: 100px;
  margin: 66px 50px 0 120px;
  /* background-color: aquamarine; */
}
.card .info {
  margin-top: 70px;
}
.card .delete {
  position: absolute;
  right: 100px;
  top: 50px;
}